<div class="weather-card">
  <div class="weather-card__city-title">
    CITY
  </div>
  <div class="weather-card__icon">
    <app-weather-icon [weather]="weather"></app-weather-icon>
  </div>
  <div class="weather-card__temperature">
    <div class="weather-card__degrees">20</div>
    <div class="weather-card__description">{{ weather }}</div>
  </div>
  <div class="weather-card__min-max-temperature">
    <div class="min-max-temperature min-max-temperature--min">20</div>
    <div class="min-max-temperature min-max-temperature--max">23</div>
  </div>
</div>
